<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="c-topbar">
        <button class="c-topbar c-topbar--opciones" routerLink="/productos">Carta</button>
        <button class="c-topbar c-topbar--opciones" routerLink="/inicio">Sobre Nosotros</button>
        <button class="c-topbar c-topbar--opciones" routerLink="/proveedores">Proveedores</button>
        <button class="c-topbar c-topbar--opciones" routerLink="/nuestra-politica">Nuestra Politica</button>
        <button class="material-icons c-topbar c-topbar--account-options" routerLink="/cart">shopping_cart</button>
        <button class="material-icons c-topbar c-topbar--account-options" routerLink="/cart">face</button>
</div>