<div class="g-bg--primary">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px; color: white; height: 100vh;">
    
        <img src="https://i.postimg.cc/yYCDX0tr/1774b6bae198b4a1ea3397f7f80dcd2e.png">
        <div class="g-width-80">
            <div>
                <img src="" alt="pokedex" class="g-border-radius-50">
                <p>esta es la pokedex, desde aqui te lleva alli</p>
            </div>
            <hr class="g-width-80 g-border--dark-yellow">
            <div>
                <img src="" alt="api" class="g-border-radius-50">
                <p>la pokeapi, poner enlace o desc</p>
            </div>
            <hr class="g-width-80 g-border--dark-yellow">
            <div>
                <img src="" alt="repo" class="g-border-radius-50">
                <p>Nuestro repositorio del proyecto</p>
                <a href="https://github.com/CarloSzMz/PokeWeb" style="text-decoration: none; color: white;">Click Aqui</a>
            </div>
        </div>
    </div>
</div>