<body class="g-bg--primary">
<div class=" g-text-center">

    <div class="l-dflex l-dflex--column l-dflex--center g-padding-top--15">
        <img class="g-height-auto g-max-width-100 g-margin-auto" src="https://i.postimg.cc/yYCDX0tr/1774b6bae198b4a1ea3397f7f80dcd2e.png">
    </div>
    <div class="g-color--white g-height-vh-100">
        <div class="l-dflex l-dflex--column l-dflex--center l-dflex--align-center">
            <div class="g-width-100">
                <div>
                    <img src="../../../../assets/pokeball.png" class="g-border-radius-50 g-width-30">
                    <p>esta es la pokedex, desde aqui te lleva alli</p>
                </div>
                <hr class="g-width-80 g-border--dark-yellow">
                <div>
                    <img src="" alt="api" class="g-border-radius-50">
                    <p>la pokeapi, poner enlace o desc</p>
                </div>
                <hr class="g-width-80 g-border--dark-yellow">
                <div>
                    <img src="" alt="repo" class="g-border-radius-50">
                    <p>Nuestro repositorio del proyecto</p>
                    <a href="https://github.com/CarloSzMz/PokeWeb" class="g-link--blue g-color--white" >Click Aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>